<% content_for :title, 'Добавить группу'  %>
<div class='container'>
  <div class='center'>
    <%= form_for @group do |f| %>
      <div class='form-ui default'>
      
        <%= f.text_field :name, class:'form-input' %>
    
      </div>
        <%= f.submit "Submit!" %>
      
    <%end%>
    <br/>
      <button class='ui-link'><%= link_to 'Назад ', :back %></button>
  </div>
</div>