<div class='container'>
  <div class='center'>
    <h1>Электронное расписание ФРЭЛА</h1>
       <p>Сайт не имеет отношения к администрации ФРЭЛА или МАИ.</p>
    
    <p>Сервис разработан на основе <b>Ruby on Rails</b> с использованием <b>jQuery</b>. 
      Исходный код доступен на <a href='https://github.com/Euphe/timetable'>GitHub</a>
    </p>
       
      <p>Если у вас возникли вопросы или предложения, пишите на euphetar@gmail.com или <a href='http://vk.com/olyagtfo'>ВКонтакте</a>.
      </p>
     <br/>
      <%= link_to 'Назад ', :back,class:'ui-link' %>
  </div>
</div>
  