/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.form-ui {
    display:inline-block;
    background:none;
    border:2px solid #4479D4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:3px;   
    box-sizing: border-box;
}
.form-input {
    border:none;
    color:#121212;
    
}
.success {
    border-color:green;
    
}
.failure {
    border-color:red;
    
}
input:focus {
    box-shadow:none;
    outline:none;
}