/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
   font-family:'Arial', 'Times New Roman'; 
    color:#121212;
   background:#F5F5FF; 
    margin:0;
}
a {
 
   
}
ul {
   list-style:none; 
}
.form-ui {
    display:inline-block;
    background:none;
    border:2px solid #4479D4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:3px;   
    box-sizing: border-box;
}
.form-input {
    border:none;
    color:#121212;
    width:150px;   
    background:none;
}
.dummy{
    width:100%;
}
.success {
    border-color:green;
    
}
.failure {
    border-color:red;
     background-color: rgb(235, 235, 228);
}
input:focus, button {
    box-shadow:none;
    outline:none;
    
}
button {
    border:1px solid #B7B7B7;
}
.btn-done, .btn-war, .btn-warning, .btn-con, .btn-confirm, btn, input[type='submit'], .form-message, .ui-link, .ui-list  {
    font-family:Arial;
    background: #EEE;
    width: 120px;
    height: 28px;
    overflow:hidden;
    cursor: pointer;
    border: 1px solid #B7B7B7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  
}
.ui-list {
    width: 90px;
    height: 28px;
    border: 1px solid #B7B7B7;
    background: #DDF6F8;
}
.form-message {
   text-align:center;
   background-color:#BF3030;
}
.form-message span {
    position:relative;
    color:white;
    top:19%;
}
input[type='submit'] {
    box-shadow:none;
    outline:none;
    border:none;
    border: 1px solid #B7B7B7;
}

.button-default {
    width:100%;
    height:100%;
    position:relative;
}
.button-text {
    position:absolute;
    top:19%;
    width:100%;
    text-align:center;
    text-decoration:none;
    color:black;
}
.button-overflow, .button-prompt {
    width:100%;
    height: 28px;
    position:relative;
    top: -100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.button-overflow-text, .button-prompt-text {
    position:absolute;
    top:19%;
    width:100%;
    text-align:center;
}
.button-overflow-text, .button-overflow-text a, .button-prompt-text, .button-prompt-text a {
    color:white;
    text-decoration:none;
}
.button-overflow {
    background: green;
}
.btn-confirm .button-prompt {
    background:#FFB800!important;
}
.btn-warning .button-prompt {
    background:red;
}

.search-container {
    max-height:500px;
    width:360px;
    position:absolute;
    right:26%;
    top:10%;
    
    text-align:center;  
    
}
.search-container  .form-ui {
    width:50%;
    
    background:white;  
    border:2px solid #A5CAE7;
    
}
.search-submit{
   width:23%!important; 
}
.search-container > table{
  border:1px solid #155688;
  border-collapse:collapse;
  position:absolute;
  z-index:999;
  right:10px;
  top:35px;
  background:white;
  
}
.search-container > table tr, .search-container > table td {
  padding:1px;
  border-bottom:1px solid #155688;
}
.search-container .form-input-search {
    border:none;
    color:#121212;
  
    background:none;  
    width:100%;
  }

.search-container .head,.search-container .head td  {
  margin-bottom:2px;
  border-top:1px solid #155688;
  border-left:1px solid #155688;
  border-right:1px solid #155688;
  font-weight:bold;
  background-color:#DAE1E8;
}

.top-panel {
   width:100%;
   background:#4479D4;
   position:relative;
   top:0;
   height:40px;
}
.nav a,  button a{
   text-decoration:none; 
   color:black;
}
.nav {
    list-style:none; 
    margin:0;
    height:100%;
    display:inline-block;
    padding:0;
    position:relative;
    
    left:29%;
}

.nav li {
    display:inline-block;
    border-left:2px solid white;
    border-right:2px solid white;
    padding:0 10px;
    margin:0;
    height:100%;
 
    text-align:center;
    vertical-align:middle;
  
    cursor:pointer;
}
.nav li:hover{
    background:white;
    border-left:2px solid #4479D4;
    border-right:2px solid #4479D4;
}
.nav li a:hover{
    color:#4479D4;
}
.nav li a {
    color:white;
    vertical-align:middle;
    display:block;
    height:75%;
    padding-top:10px;
    font-weight:bold;
}
.acc-wrap {
   text-align:center!important;
   width:100%;
}
.center {
   text-align:center!important;
   width:100%;
}
.high {
   height:50px; 
}

.stretchy {
   max-width:400px; 
}
input:focus {
  
}
 button:hover {
-webkit-box-shadow: 0px 1px 6px rgba(143, 145, 255, 0.41);
-moz-box-shadow:    0px 1px 6px rgba(143, 145, 255, 0.41);
box-shadow:         0px 1px 6px rgba(143, 145, 255, 0.41);

}