// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width:700px;
  margin:auto;
  margin-top:5px;
  padding:5px;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  background:#EEE;
  
}
.wrap {
   position:relative;
   left:13%;
}
.container-edit {
  min-width:700px;
  max-width:1000px;
  margin:auto;
  margin-top:5px;
  
}
.container > div{
  
  display:inline-block;
  text-align:left;
}
.days {
  max-width:950px;
  margin:auto;
  text-align:center;
}

.day-box {
  display:inline-block;
  
  border: 2px solid #276FA6;
  min-height:195px;
  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  margin-bottom:10px;
  overflow:hidden;
  
}

h2 {
  text-align:center;
}
.day-box h3 {
  width:100%;
  text-align:center;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom:3px solid #155688;
  background-color:#A5CAE7;
  color:#333;
}
.day-box table {
   text-align:center;
   border-collapse:collapse;
  
}
.day-box td {
  width:100px;
}
.day-box tr, .day-box td {
  padding:4px;
  border:1px solid #155688;
  
}
.day-box .head,.day-box .head td  {
  margin-bottom:5px;
  border-left:1px solid #155688;
  border-right:1px solid #155688;
  font-weight:bold;
  background-color:#DAE1E8;
}
.head {
 text-align:center; 
}
.group-list {
    width:100px;
    padding-left:10px;
}
.group-list .btn-confirm{
     width: 70px;
}
.group-list li {
   margin-bottom:10px; 
}
.year1, .year2, .year3, .year4 {
  display:block;
  height:300px;
  width:24%;
  float:left; 
}

.year4:after {
   clear:both; 
}
@media (min-width: 1024px)  {
  body {
     width:100%; 
  }
  .day-box {
    max-width:450px;
  }
  .day-box td{
    max-width:125px;
  }
}
@media (max-width: 1024px) {
   body {
     width:100%; 
  }
    .wrap {
      left:7%;
  }
  
  .container {
    max-width:500px;
  }
  .search-container {
     right:0; 
     width:160px;
  }
  .search-container  .form-ui {
    width:50%;
  }
  .search-submit{
   width:40%!important; 
  }
  .nav {
    left:0;
  }
  .nav li {
     padding:0 0px;
     
  }
}
@media (max-width: 750px) {
  body {
     width:100%; 
  }
  .day-box {
    max-width:400px;
  }
  .day-box td{
    max-width:100px;
    padding:0;
    font-size:10pt;
  }
  .year1, .year2, .year3, .year4 {
    width:49%;
   
  }
  .container {
     max-width:90%;
   
  }
}
@media (max-width: 400px) {
  body {
     width:100%; 
  }
  .year1, .year2, .year3, .year4 {
     float:none;
     width:100%;
     text-align:center;
  }
  .day-box {
     min-height:80px; 
  }
  .day-box td{
   
    font-size:10pt;
  }
  .search-container {
    width:49%;
  }
  .nav {
    width:49%;
  }
  .nav li {
    width:39%;
  }
  .nav li a {
    padding-top:5px;
    font-weight:bold;
    font-size:10pt;  
  }
}

.year1 h3, .year2 h3, .year3 h3, .year4 h3{
   width:70px; 
}


